<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbasauro</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img src="../../../assets/image-1.png" alt="Bulbasauro" />
  </section>
</a>
<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbasauro</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img src="../../../assets/image-1.png" alt="Bulbasauro" />
  </section>
</a>
<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbasauro</h2>
    <ul>
      <li>Grass</li>
      <li>Poison</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img src="../../../assets/image-1.png" alt="Bulbasauro" />
  </section>
</a>
