@import "../../scss/rem-calc.scss";
@import "../../scss/variaveis.scss";

header {
  a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    padding: rem-calc(40) 0;
  }

  h1 {
    color: $white-color;
    font-size: rem-calc(36);
    font-style: italic;
    font-weight: 900;

    padding-left: rem-calc(5);
  }
}
